@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #1f1f47;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  overflow: hidden;
}

.wraper {
  position: relative;
  width: 400px;
  height: 450px;
  background: rgba(255, 255, 255, 0.15);
  box-shadow: 0 18px 32px rgba(31, 38, 135, 0.37);
  border: 1px solid rgba(255, 255, 255, 0.18);
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

h2 {
  text-align: center;
  font-size: 2em;
  color: white;
  font-family: "Lobster", cursive;
}

.input-box {
  position: relative;
  width: 302px;
  margin: 30px 0px;
  border-bottom: 2px solid white;
}

.input-box label {
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  font-size: 1em;
  color: white;
  transition: 0.5s;
  pointer-events: none;
}

.input-box input:focus ~ label,
.input-box input:valid ~ label {
  top: 6px;
  color: #fa709a;
  font-size: 0.8em;
}

.input-box input {
  width: 90%;
  height: 50px;
  background: transparent;
  border: none;
  outline: none;
  color: white;
  font-size: 1em;
  padding: 0px 10px;
}

.remember-forgot {
  margin: 15px 0px 15px;
  display: flex;
  justify-content: space-between;
}
.remember-forgot a {
  color: white;
  text-decoration: none;
  font-size: 13px;
}

.remember-forgot a:hover {
  text-decoration: underline;
}

.remember-forgot label {
  color: white;
  font-size: 13px;
}

.remember-forgot label input {
  accent-color: #fa709a;
  margin-left: 3px;
}

button {
  margin: 20px 0;
  width: 100%;
  height: 40px;
  border: none;
  color: white;
  font-family: "IBM Plex Mono", monospace;
  background: #fa709a;
  border-radius: 20px;
  font-size: 1em;
  font-weight: 500;
  cursor: pointer;
  transition: 0.5s;
}

button:hover {
  transform: scale(0.9);
  background: #f55182;
}

.register-link {
  color: #ffff;
  font-size: 13px;
  text-align: center;
}

.register-link a {
  color: #ffff;
  text-decoration: none;
}

.register-link a:hover {
  text-decoration: underline;
}

.blob {
  position: absolute;
  width: 500px;
  height: 500px;
  background-image: linear-gradient(
    to right top,
    #d16ba5,
    #c777b9,
    #ba83ca,
    #aa8fd8,
    #9a9ae1,
    #8aa7ec,
    #79b3f4,
    #69bff8,
    #52cffe,
    #41dfff,
    #46eefa,
    #5ffbf1
  );
  border-radius: 24% 76% 35% 65% / 27% 36% 64% 73%;
  transform: translate(-100px, -50px) rotate(-90deg);
  transition: 1s;
  animation: animBlob 10s infinite alternate;
}

.blob:hover {
  width: 520px;
  height: 520px;
  filter: blur(30px);
}

@keyframes animBlob {
  100% {
    transform: translate(250px, 50px) rotate(-10deg);
    border-radius: 76% 24% 33% 67% / 68% 55% 45% 32%;
  }
}
